.rtl-dir {
  direction: rtl;
}

.rtl-dir.bb-input input {
  text-align: right;
}

.fullscreen-centered {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
